@import "../../../../common.scss";

.home-head {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20rpx;
  border-radius: 20rpx;
  padding: 20rpx 30rpx 40rpx 30rpx;
  transform: scale(0.8);
  background: linear-gradient(to bottom right, #e5f1ed, #ccf1e0, #91e0c8);
  &-intro {
    display: flex;
    flex-direction: column;
    font-size: 36rpx;
    padding: 10rpx 0rpx;
    font-family: "Times New Roman", Times, serif;
    &-subtitle {
      font-size: 20rpx;
    }
  }
}
