.title-bar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20rpx;
  margin: 0 20rpx;
  
  &-icon {
    width: 40rpx;
    height: 40rpx;
    margin-right: 15rpx;
  }
  
  &-text {
    font-size: 32rpx;
    font-weight: bold;
    margin-right: 5rpx;
  }
}
