$black: #000;
$white: #fff;
$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #ebedf0;
$gray-4: #dcdee0;
$gray-5: #c8c9cc;
$gray-6: #969799;
$gray-7: #646566;
$gray-8: #323233;
$red: #ee0a24;
$blue: #3accff;
$orange: #ff9c00;
$orange-dark: #ed6a0c;
$orange-light: #fffbe8;
$green: #07c160;
$shaman: #0070de;
$priest: #ffffff;
$hunter: #abd473;
$rogue: #fff569;
$warlock: #9482c9;
$mage: #69ccf0;
$warrior: #c79c6e;
$druid: #ff7d0a;
$paladin: #f58cba;
$deathknight: #c41f3b;
$demonhunter: #a330c9;
$legendary: #ff8000;
$dark-legendary: #63441b;
$color-dark-common: #636363;
$color-dark-rare:#243e58;
$color-dark-epic: #4b3961;
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 颜色深浅判断
@function luminance($color) {
  $r: red($color) / 255;
  $g: green($color) / 255;
  $b: blue($color) / 255;

  $r: if($r <=0.03928,
      $r / 12.92,
      (($r + 0.055) / 1.055) * (($r + 0.055) / 1.055) * (($r + 0.055) / 1.055) * (($r + 0.055) / 1.055) * (($r + 0.055) / 1.055) * (($r + 0.055) / 1.055));
  $g: if($g <=0.03928,
      $g / 12.92,
      (($g + 0.055) / 1.055) * (($g + 0.055) / 1.055) * (($g + 0.055) / 1.055) * (($g + 0.055) / 1.055) * (($g + 0.055) / 1.055) * (($g + 0.055) / 1.055));
  $b: if($b <=0.03928,
      $b / 12.92,
      (($b + 0.055) / 1.055) * (($b + 0.055) / 1.055) * (($b + 0.055) / 1.055) * (($b + 0.055) / 1.055) * (($b + 0.055) / 1.055) * (($b + 0.055) / 1.055));

  @return 0.2126 * $r+0.7152 * $g+0.0722 * $b;
}

// 生成适应背景色的文字颜色
@function contrast-color($color) {
  $darkText: #333333; // 深灰色
  $lightText: #f0f0f0; // 浅灰色
  @return if(luminance($color) > 0.5, $darkText, $lightText);
}


$classColors: ("shaman": $shaman,
  "priest": $priest,
  "hunter": $hunter,
  "rogue": $rogue,
  "warlock": $warlock,
  "mage": $mage,
  "warrior": $warrior,
  "druid": $druid,
  "paladin": $paladin,
  "deathknight": $deathknight,
  "demonhunter": $demonhunter,
);